*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Noto Sans TC", sans-serif;
}
body{
  background: lightblue;
}

#chartContainer {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
  }

  #chartContainer canvas {
    width: 100%;
    height: 100%;
  }

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
}

.navbar{
  text-align: right;
  margin-right: 20px;
  padding: 20px;
}

.navbar a{
  color: antiquewhite;
  border-bottom: 3px solid transparent;
  padding-right: 10px;
}

.logo{
  font-size: 30px;
  font-weight: 800;
  color: antiquewhite;
}

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .btn-primary:active {
    background-color: #0062cc;
    border-color: #005cbf;
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }

  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }

  .btn-success:active {
    background-color: #1e7e34;
    border-color: #1c7430;
  }

  .text-muted {
    color: #6c757d !important;
  }
